.country_section {
  display: flex;
  flex-direction: column;
  padding: 31px 22px;
  max-width: 1358px;
  margin-inline: auto;
}

.country_section ul {
  list-style: none;
}

.country_section_content {
  display: flex;
  flex-direction: column;
  color: var(--text-white);
  gap: 41px;
}

.country_section_content img {
  margin-top: 52px;
  width: 100%;
  max-width: 441px;
  aspect-ratio: 2 / 1.5;
  box-shadow: var(--shadow);
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .country_section_content {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 60px;
    gap: 115px;
  }

  .country_section_content img {
    margin-top: unset;
  }
}
