.country_section {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding: 50px;
}

.country_section ul {
  list-style: none;
}

.country_section_content {
  display: flex;
  gap: 100px;
  align-items: center;
  color: var(--text-white);
}

.country_section_content img {
  width: 500px;
  box-shadow: var(--shadow);
  height: 350px;
  border-radius: 5px;
}
