.card {
  display: flex;
  flex-direction: column;
  height: 268px;
  width: 209px;
  background-color: var(--secondary-bg);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.card img {
  height: 129px;
  border-radius: 5px 5px 0 0;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 19px 24px;
  gap: 20px;
  color: var(--text-white);
}

.info h2 {
  font-size: 15px;
}

.card li {
  list-style-type: none;
  font-size: 12px;
  line-height: 20px;
}
