.dropdownMenu {
  font-size: 12px;
  background-color: var(--main-bg);
  color: var(--text-white);
  display: flex;
  width: 160px;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.dropdownMenu:hover {
  cursor: pointer;
}

.dropdownMenuHeader {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bg);
  padding: 17px 15px;
  border-radius: 5px;
  border: none;
  align-items: center;
  color: var(--text-white);
  box-shadow: var(--shadow);
}

.dropdownMenuHeader p {
  font-size: 12px;
}

.chevronDown {
  font-size: 10px;
}

.dropdownMenuContent {
  overflow: auto;
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  box-shadow: var(--shadow);
  height: 136px;
  border-radius: 5px;
  transition: height 0.5s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dropdownMenuContent::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.dropdownMenuContent {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.dropdownMenuContent ul {
  background-color: var(--secondary-bg);
  list-style: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.dropdownMenuContent li {
  padding: 5px 17px;
  font-size: 12px;
}

.dropdownMenuContent li:hover {
  background-color: var(--main-bg);
  cursor: pointer;
}

.showAccordion {
  height: 0px;
}
