.searchBar {
  background-color: var(--secondary-bg);
  display: flex;
  padding: 12.5px 20px;
  align-items: center;
  width: 350px;
  gap: 15px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.searchIcon {
  font-size: 12.5px;
  color: var(--text-white);
}

.searchBar input {
  background: none;
  border: none;
  font-size: 12.5px;
  color: var(--text-white);
  letter-spacing: 0.5px;
  width: 100%;
}

.searchBar input:focus {
  outline: none;
}
