.header {
  padding: 27px 12px;
  background-color: var(--secondary-bg);
  box-shadow: var(--shadow);
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header h1 {
  font-size: 14px;
  color: var(--text-white);
}
