.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12.5px 50px;
  background-color: var(--secondary-bg);
  box-shadow: var(--shadow);
}

.header h1 {
  font-size: 25px;
  letter-spacing: 0.5px;
  color: var(--text-white);
}
